<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CST" value="oRPg0vmPKePfKsbuBpPt55kGLyxFzb2Ao91+zRnmu5Yw7IeJRybOHU7sNlbOQo69eYLI6oAfKs0iqS5sKF/wX5hjlH07b3yNWV3GU/vbVeI="/> 
    <!--<add key="CST" value="oRPg0vmPKePfKsbuBpPt55kGLyxFzb2Ao91+zRnmu5Yw7IeJRybOHbiayu2H8GiaXU2SAn/SYSCxbJ8cc3z6XphJgwyGOpShD9QztnoCTtKttb/R7BRJVQ=="/>-->
    <add key="QRY" value="1pez1VD0hEWU291VlaUiauAoTDxMzkk7BK7TB/53AhYocV8UNVJ3PXtNvyEpiPSyRWGj3nx/XrshgjKul1clmAl8paraLedTIPOwz/Ks9jaR2kQwRWukhVGf+b5ZM0XFC/xo0b+2ceHrWSUB/q1cvjKkSt5BtOtAh2QQIWIQgSbliZbg8s0R/WC5cvftcoRMOc/GZ5GS3QWHFi1DYmV/AU3pjXUrhe7ByCFI9F58vNMg87DP8qz2NuhrMmtixkYGUZ/5vlkzRcUupOpCXV/aADXKHqyzN3zYMqRK3kG060APzmZ4J5V6EarvdJsZyNSioZdACIckFDg="/>
  </appSettings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
